includes:
    - phpstan-baseline.neon

parameters:
    bootstrapFiles:
        - vendor/autoload.php
    level: 9
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
